# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Compile file
test
testVector
testStructure

# Useless graph
Graphe/in-2004v2.txt
Graphe/Stanford.txt
Graphe/Stanford_BerkeleyV2.txt
Graphe/wb-cs-stanford.txt
Graphe/wb-edu.txt
Graphe/wikipedia-20051105V2.txt
Graphe/wikipedia.txt
Graphe/StanfordV2.txt
